.myForm {
  padding: 12% 8%;
  border: 2px solid var(--light-grey);
  display: grid;
  gap: 10px;
}

.form_name {
  color: var(--light-grey);
}

.myForm:has(input:focus) {
  border-color: var(--orange);
}

.myForm:has(input:focus) .form_name {
  color: var(--orange);
}

.btn_container {
  display: grid;
  gap: 5px;
}

.ifLogedIn {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}

.extra_link {
  color: var(--orange);
  text-decoration: none;
}

.submit_btn:disabled {
  box-shadow: none;
}

.extra_btn {
  padding: 10px 15px;
  color: #4cc9f0;
  background-color: #4361ee;
}

.extra_btn:hover {
  box-shadow: 2px 2px 15px #4361ee;
}

@media screen and (min-width: 768px) {
  .myForm {
    padding: 5% 8%;
    gap: 20px;
  }

  .submit_btn,
  .extra_btn {
    height: 40px;
  }
}

@media screen and (min-width: 1200px) {
}
