/* animations */

.hidden {
  opacity: 0;
  transform: translateY(300%);
  transition: all 800ms;
}

.open {
  opacity: 1;
  transform: translateY(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.features {
  padding-bottom: calc(var(--footer-height) + 20px);
  height: auto;
  justify-items: center;
  align-items: start;
  gap: 50px;
  overflow-x: hidden;
}

.text {
  display: grid;
  color: var(--orange);
  gap: 20px;
  line-height: clamp(35px, 3vw, 55px);
  font-size: clamp(1.3rem, 3vw, 2.4rem);
}

.cards_container {
  padding: 0 5%;
  display: grid;
  row-gap: 50px;
}

@media screen and (min-width: 768px) {
  .cards_container {
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding: calc(var(--navbar-height) + 100px) 10%
      calc(var(--navbar-height) + 100px);
    gap: 100px;
  }
}
