/* animations */
.hidden {
  opacity: 0;
  transform: translateY(-150%);
  transition: all 2s;
}

.open {
  opacity: 1;
  transform: translateY(0);
}

.hidden:nth-child(1) {
  transition-delay: 500ms;
}

.hidden:nth-child(2) {
  transition-delay: 300ms;
}
.hidden:nth-child(3) {
  transition-delay: 100ms;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.hero {
  display: grid;
  justify-items: center;
}

.inner {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.text {
  height: 100%;
  display: grid;
  align-content: center;
  gap: 30px;
  line-height: 35px;
  font-size: clamp(0.9rem, 2.5vw, 1.8rem);
}

.name {
  font-weight: 800;
}

.title {
  color: #f0ae00;
  line-height: clamp(45px, 2.5vw, 65px);
}

.desc {
  font-weight: 400;
  line-height: clamp(25px, 3vw, 60px);
}

.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.hero_card {
  display: grid;
  place-items: center;
  gap: 20px;
}

.img_cont {
  display: grid;
  place-items: center;
  background-color: #6c757d;
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.hero_img {
  width: 250px;
}

.btn_container {
  width: 100%;
  display: flex;
  gap: 50px;
}

@media screen and (min-width: 475px) {
  .hero_img {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    place-items: center;
  }
  .inner {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .text {
    line-height: 60px;
    gap: 50px;
  }

  .hero_img {
    width: 350px;
  }

  .btn_container {
    justify-items: baseline;
  }
  .sign_btn:hover {
    scale: 1.2;
  }
}

@media screen and (min-width: 1100px) {
  .hero_img {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .inner {
    gap: 0;
  }
  .text {
    gap: 50px;
  }

  .img_cont {
    width: 250px;
    height: 250px;
  }

  .card_img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 1400px) {
  .hero_img {
    width: 550px;
  }
}
