/* animations */

.hidden {
  opacity: 0;
  transform: translateY(300%);
  transition: all 1200ms;
}

.open {
  opacity: 1;
  transform: translateY(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.cards_container {
  display: grid;
  gap: 50px;
}
.cards_container.big {
  grid-template-columns: repeat(3, 1fr);
}

.cards_container.md {
  grid-template-columns: 1fr 1fr;
}
.cards_container.sm {
  grid-template-columns: 1fr;
}
