/* animations */

.hidden {
  opacity: 0;
  transform: translateY(300%);
  transition: all 800ms;
}

.open {
  opacity: 1;
  transform: translateY(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.tech {
  padding-bottom: calc(var(--footer-height) + 20px);
  height: auto;
  justify-items: center;
  align-items: start;
  gap: 50px;
}

.text {
  display: grid;
  gap: 20px;
  line-height: clamp(35px, 3vw, 55px);
  font-size: clamp(1.3rem, 3vw, 2.4rem);
}

.title {
  color: var(--orange);
}

@media screen and (min-width: 1200px) {
  .tech {
    padding: calc(var(--navbar-height) + 100px) 10% 5% !important;
    gap: 100px;
  }
}
