.tech {
  padding-bottom: calc(var(--footer-height) + 20px);
  height: auto;
  justify-items: center;
  align-items: start;
  gap: 50px;
}

.text {
  display: grid;
  gap: 20px;
  color: #f0ae00;
  line-height: clamp(35px, 3vw, 55px);
  font-size: clamp(1.3rem, 3vw, 2.4rem);
}

.tech_cards_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.cards_container {
  display: grid;
  gap: 50px;
}
.cards_container.big {
  grid-template-columns: repeat(3, 1fr);
}

.cards_container.md {
  grid-template-columns: 1fr 1fr;
}
.cards_container.sm {
  grid-template-columns: 1fr;
}

.card {
  padding: 7% 10%;
  height: 310px;
  display: grid;
  /* justify-items: center;
  align-items: start; */
  place-items: center;
  gap: 30px;
  border: 2px solid #f0ae00;
  border-radius: 40px;
  text-decoration: none;
}

.card_img {
  width: 140px;
}

.card_desc {
  font-size: clamp(0.8rem, 3vw, 1.4rem);
  line-height: clamp(20px, 2.5vw, 30px);
}

@media screen and (min-width: 768px) {
  .card {
    height: 450px;
  }
  .tech_cards_container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .card_img {
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .tech {
    padding: calc(var(--navbar-height) + 100px) 10% 5% !important;
    gap: 100px;
  }
  .card {
    gap: 50px;
    height: 550px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1500px) {
  .card {
    height: 500px;
  }
}
