/* animations */

.hidden {
  opacity: 0;
  transition: all 2s;
}

.hidden:nth-child(1) {
  transform: translateX(-150%);
}
.hidden:nth-child(2) {
  transform: translateX(+150%);
  transition-delay: 300ms;
}
.hidden:nth-child(3) {
  transform: translateX(-150%);
  transition-delay: 600ms;
}
.hidden:nth-child(4) {
  transform: translateX(+150%);
  transition-delay: 900ms;
}
.hidden:nth-child(5) {
  transform: translateX(-150%);
  transition-delay: 1200ms;
}

.open {
  opacity: 1;
  transform: translateX(0) !important;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.card {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid var(--light-grey);
}

.card_title {
  color: var(--orange);
  font-size: clamp(1rem, 3vw, 1.6rem);
}

.card_desc {
  font-size: clamp(0.7rem, 2.5vw, 1.3rem);
  line-height: clamp(20px, 2vw, 35px);
  font-weight: 400;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
