@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  --navbar-height: 60px;
  --footer-height: 70px;
  --dark-grey: #212529;
  --md-grey: #adb5bd;
  --light-grey: #e9ecef;
  --orange: #f0ae00;
  --red: #ff4d6d;
  background-color: var(--dark-grey);
  transition: height 0.2s linear;
  height: 100vh;
  color: var(--light-grey);
}

body:has(.mobile_menu.open) {
  overflow: hidden;
}

input:focus {
  outline: none;
}

.container_gr {
  display: grid;
  transition: height 0.2s linear;
  padding: calc(var(--navbar-height) + 15px) 15% 5%;
  height: 100dvh;
}
.container_outer {
  height: 100dvh;
}

.container_blur {
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 50px;
}

.hr {
  width: 85%;
  color: var(--orange);
  border-top: 1px solid var(--orange);
  border-radius: 50%;
}

.btn {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: clamp(0.7rem, 2vw, 1.1rem);
  font-weight: 600;
  text-wrap: nowrap;
  background-color: transparent;
  border: 2px solid var(--orange);
  padding: 5px 15px;
  color: var(--orange);
  text-align: center;
  transition: all ease-in 0.2s;
}

.btn:disabled {
  border-color: var(--md-grey);
  background-color: var(--md-grey);
  color: var(--dark-grey);
}
.btn:disabled:hover {
  cursor: auto;
  border-color: var(--md-grey);
  background-color: var(--md-grey);
  color: var(--dark-grey);
}

.btn:hover {
  background-color: var(--orange);
  color: #212529;
}

@media screen and (min-width: 768px) {
  body:has(.mobile_menu.open) {
    overflow: auto;
  }

  body {
    --navbar-height: 70px;
  }

  .container_gr {
    padding: calc(var(--navbar-height) + 15px) 10% 0;
  }

  .btn {
    padding: 8px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container_gr {
    padding: 5% 10% 0;
  }
}

button:focus {
  outline: none;
  box-shadow: none;
}
button:focus-visible {
  outline: none;
  box-shadow: none;
}

button,
a,
div {
  -webkit-tap-highlight-color: transparent;
}
