.myform {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  display: grid;
  gap: 20px;
  width: 100%;
}

.user_data {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.myInput {
  background-color: transparent;
  border: 2px solid var(--light-grey);
  padding: 2% 0;
  padding-left: 10px;
  width: 100%;
  color: var(--light-grey);
  font-family: inherit;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}

.myInput:focus {
  border-color: var(--orange) !important;
}
.inp_container:has(.myInput:focus) {
  color: var(--orange);
}

.myBtn {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}

textarea.myInput {
  max-width: 80vw;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .myform {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .myform {
    width: 70%;
  }
  textarea.myInput {
    max-width: 50vw;
    height: 80px;
  }
}
