.contact {
  padding: calc(var(--navbar-height) + 45px) 15% 5%;
  min-height: 100dvh;
  justify-items: center;
  align-items: center;
  gap: 50px;
}

.inner {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 50px;
}

.text {
  display: grid;
  gap: 30px;
  line-height: clamp(20px, 3vw, 35px);
  font-size: clamp(1rem, 3vw, 1.6rem);
}
.text h1 {
  color: #f0ae00;
}

.text_info {
  display: grid;
  gap: 10px;
}

.links {
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  display: grid;
  gap: 10px;
  width: 100%;
}

.link {
  color: #e9ecef;
  text-decoration: none;
}
.link svg {
  margin-top: -10px;
}

@media screen and (min-width: 768px) {
  .user_data {
    grid-template-columns: 1fr 1fr;
  }

  .myInput {
    height: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    padding: calc(var(--navbar-height) + 100px) 10% 5% !important;
    grid-template-columns: 1fr 1fr;
  }
}
