.error_el {
  height: 100dvh;
  padding: var(--navbar-height) 7%;
  place-items: center;
}
.inner {
  display: grid;
  align-content: space-evenly;
  justify-items: start;
}

.home_btn {
  margin-bottom: 50px;
}

.text {
  font-size: clamp(1.3rem, 3vw, 2.4rem);
}

.social_link {
  text-decoration: none;
  color: var(--orange);
}

.notFound_img {
  width: 300px;
}

@media screen and (min-width: 768px) {
  .error_el {
    grid-template-columns: 50% 80%;
    overflow: hidden;
  }

  .notFound_img {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .error_el {
    grid-template-columns: 50% 50%;
  }
  .notFound_img {
    width: 500px;
  }
}
